@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.register-page {
    font-family: 'Julius Sans One', sans-serif;
    background-image: url('digitaler_service.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
}

.register-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 26%;
    height: 80%; /* Erhöhte Höhe */
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.9); /* Hellgrau & Transparenz */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: none;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 20px;
}

.input-group-register {
    margin-bottom: 3%;
    height: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.register-input {
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: calc(0.3vw + 1.4vh);
    background-color: #f2f2f2; /* hell Grau */
}
.submitbutton-div{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.submit-button {
    margin: 0px;
    padding: 10px;
    background-color: #b8b5b5;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Julius Sans One', sans-serif;
}

.submit-button:hover {
    background-color: #d9d9d9; 
}

.register-link{
    text-decoration: none;
}

.register-link:hover{
    text-decoration: none;
    color: rgb(58, 58, 230);
    font-weight: bolder;
}

.error-messages {
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    text-align: left;
    font-weight: bold;
}
