.smartmeter-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smartmeter-outer-left {
    background-color: #D9D9D9;
    width: 60%;
    height: 90%;
    position: relative;
    font-size: bold;
    border-radius: 4px;
    margin-right: 5%;
}

.smartmeter-outer-right {
    background-color: #D9D9D9;
    width: 20%;
    height: 90%;
    position: relative;
    font-size: bold;
    border-radius: 4px;
}

.smartmeter-heading {
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    height: 10%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.smartmeter-heading-right-title {
    margin-left: 5%;
    margin-top: 2%;
    width: 100%;
    height: 15%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
}

.smartmeter-inner-right {
    text-align: center;
    background-color: white;
    position: absolute;
    width: 90%;
    height: 75%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 30%;
}

.smartmeter-inner-left_top_left {
    text-align: center;
    background-color: white;
    position: absolute;
    width: 40%;
    height: 20%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    left: 0;
}
.smartmeter-inner-left_top_right {
    text-align: center;
    background-color: white;
    position: absolute;
    width: 40%;
    height: 20%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    left: 50%;
}
.smartmeter-inner-left_middle {
    text-align: center;
    background-color: white;
    position: absolute;
    width: 90%;
    height: 50%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 16%;
    
}

.smartmeter-inner-left_bottom {
    text-align: center;
    background-color: white;
    position: absolute;
    width: 90%;
    height: 18%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 49%;
    
}
.smartmeter-header-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1%;
    text-align: left; 
}
.smartmeter-value-text {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1%;
    text-align: center;
    
     
}

.vertical-line {
    position: absolute;
    width: 0.4%; /* Breite des vertikalen Strichs */
    height: 70%; /* Höhe des vertikalen Strichs */
    background-color: #000; /* Farbe des vertikalen Strichs */
    content: '';
    display: inline-block;
    /* margin-top: 1.7%; */
  }
  
